<div class="modals">
   <div class="container md-body bg-white">
        <div class="modal-header p-4">
            <h5 class="modal-title">Iniciar Sesion</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <input type="text" class="input-with-border inputposition" id="exampleFormControlInput1" placeholder="Usuario">
            <input type="password" class="input-with-border" id="exampleFormControlInput1" placeholder="Contraseña">
            <button type="button" class="button-gradient">Continuar</button>
        </div>
    </div>
</div>   