<div class="modals">
    <div class="container md-body bg-white">
         <div class="modal-header p-4 ms-2">
             <h5 class="modal-title">Registrarse</h5>
             <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModal()"></button>
         </div>
         <div class="modal-body mt-3 p-4">
            <form (submit)="signUp()"> 
                <input type="text" class="input-with-border mb-2" [(ngModel)]="user.userName" name="user" placeholder="Usuario">
                <input type="email" class="input-with-border mb-2" [(ngModel)]="user.email" name="email" placeholder="Email">
                <input type="password" class="input-with-border mb-4" [(ngModel)]="user.password" name="password"  placeholder="Contraseña">
                <button type="submit" class="button-gradient">Continuar</button>
            </form>
         </div>
     </div>
 </div> 