<header class="header">
    <div class="navbar container mt-0">
      <img src="../assets/img/ibu-black-logo.svg">
      <nav class="right-navigation d-flex justify-content-end">
        <a href="#" class="txt-pu b-font black">Publicar mi evento</a>
        <div class="mini-menu bg-white">
          <button type="button" class="dropdown"  id="dropdownMenuButton1" data-bs-toggle="dropdown">
            <i class="bi bi-list black"></i>
          </button>
          <i class="bi bi-person-circle gray"></i>
          <ul class="dropdown-menu dro-m" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Iniciar Sesion</a></li>
            <li><a class="dropdown-item" href="#">Registrase</a></li>
          </ul>
        </div>
      </nav>
    </div>
</header>