<header class="header">
    <div class="navbar container mt-0">
      <a routerLink="/"> <img src="../assets/img/ibu-logo.svg"> </a>
      <nav class="right-navigation d-flex justify-content-end">
        <a routerLink="publishevent" class="txt-pu b-font black">Publicar mi evento</a>
        <div class="mini-menu bg-white">
          <button type="button" class="dropdown"  id="dropdownMenuButton1" data-bs-toggle="dropdown">
            <i class="bi bi-list black"></i>
          </button>
          <i class="bi bi-person-circle gray"></i>
          <ul class="dropdown-menu dro-m" aria-labelledby="dropdownMenuButton1">
            <ng-container *ngIf="!authService.loggedIn(); else loggedIn">
              <li><a class="dropdown-item" href="#" (click)="openSignin()">Iniciar Sesion</a></li>
              <li><a class="dropdown-item" href="#" (click)="openSignup()">Registrase</a></li>
            </ng-container>
            <ng-template #loggedIn>
              <li><a class="dropdown-item" href="#" (click)="openSignin()">Cuenta</a></li>
              <li><a class="dropdown-item" href="#" (click)="openSignin()">Tickets</a></li>
              <li><a class="dropdown-item" href="#" (click)="openSignin()">Administrar</a></li>
              <li><a class="dropdown-item" href="#" (click)="authService.logout()">Cerrar Sesion</a></li>
            </ng-template>
          </ul>
        </div>
      </nav>
    </div>
</header>