<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="l flex-column flex-row">
            <h2 class="mt-5">Solicitud de Compra</h2>
            <input type="number" class="input-with-border mb-2 mt-3" id="exampleFormControlInput1" placeholder="Cantidad de entradas">
            <h5 class="mt-5">Metodos de cobro</h5>
            <img class="mt-5" src="../../../assets/img/yappyArt.svg" alt="">
        </div>
        <div class="r">
            <div class="ibu-card   p-5">
                <div class="row g-0">
                    <div class="col-md-2 pe-2">
                      <img src="http://localhost:3000/public/{{ img }}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-10">
                      <div class="card-body">
                        <h5 class="card-title">{{ name }}</h5>
                        <p class="card-text">{{ description}}</p>
                        <p class="card-text"><small class="text-muted">Panama, Panama</small></p>
                      </div>
                    </div>
                </div>
                <h3 class="mt-5">Resumen de compra</h3>
                <div class="row">
                    <div class="col-3 col-sm-7">Valor de la Entrada</div>
                    <div class="col-6 col-sm-4">24 USD</div>
                    <div class="w-100 d-none d-md-block"></div>
                    <div class="col-3 col-sm-7  fw-semibold">Total</div>
                    <div class="col-6 col-sm-4 fw-semibold">24 USD</div>
                </div>
            </div>
            <button type="button" (click)="payWithYappy()" class="button-gradient mt-4">Comprar con Yappy</button>
        </div>
    </div>
</div>

<app-footer></app-footer>