.div-left{
   justify-content: center;
   width: 50%;
}

.div-r{
    width: 50%;
 }

 img{
     width: 100%;
 }

h1{
    margin-left: 25%;
    width: 400px;
    text-align: center;
}

button{
    width: 40%;
    margin-left: 28%;
}