<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="d-flex">
        <div class="flex-column div-left d-flex">
            <div class="container">
                <h1 class="pb-3">{{ description }}</h1>
            </div>
            <button type="button" (click)="buyRequest()" class="button-gradient">Comprar entradas</button>
        </div>
        <div class="flex-fill div-r">
            <img src="http://localhost:3000/public/{{ img }}" alt="">
        </div>
    </div>
</div>
<app-footer></app-footer>