<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="d-flex">
        <div class="flex-column div-left d-flex">
            <div class="container">
                <h1 class="pb-3">Descripcion breve del evento</h1>
            </div>
            <button type="button" class="button-gradient">Comprar entradas</button>
        </div>
        <div class="flex-fill div-r">
            <img src="../../../assets/img/example.jpg" alt="">
        </div>
    </div>
</div>
<app-footer></app-footer>