<app-navbar> </app-navbar>
    <div class="container">
<h2 class="mt-4">Mis Reservas</h2>

<div class="eventsborder mt-3">
    <div class="imgevents"></div>
    <h3 class="eventsletter">Pais , Ciudad</h3>
    <h3 class="eventsletter2">Nombre del evento</h3>
    <h3 class="eventsletter3">Finalizado</h3>
</div>

<div class="eventsborder mt-3">
    <div class="imgevents"></div>
    <h3 class="eventsletter">Pais , Ciudad</h3>
    <h3 class="eventsletter2">Nombre del evento</h3>
    <h3 class="eventsletter3">Finalizado</h3>
</div>

<div class="eventsborder mt-3">
    <div class="imgevents"></div>
    <h3 class="eventsletter">Pais , Ciudad</h3>
    <h3 class="eventsletter2">Nombre del evento</h3>
    <h3 class="eventsletter3">Finalizado</h3>
</div>

    </div>
<app-footer></app-footer>