<div class="container">

    
    <h2 class="black publicarEvento">Publicar evento</h2>
    <h3 class="black informacionDelEvento"> Informacion del Evento</h3>
    <div class="inputposition">
        <input type="text" class="input-with-border mb-2" id="exampleFormControlInput1" placeholder="Nombre de evento">
        <input type="text" class="input-with-border mb-2" id="exampleFormControlInput1" placeholder="Nombre de evento">
        <input type="text" class="input-with-border mb-2" id="exampleFormControlInput1" placeholder="Nombre de evento">
    </div>
   

</div>


